{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <style type="text/css">
* {margin: 0; padding: 0;}
#container {height: 100%; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 25%; background: blue;}
#middle {width: 25%; background: green;}
#right {width: 50%; background: yellow;}
    </style>

</head>
<body>
    <div id="container">
        <div id="left">
            {% block left %}
            <ul class="menu">

                <li {% if section == "dashboard" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:dashboard' %}">My dashboard</a>
                </li>

                <li {% if section == "clients" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:client_list' %}">Clients</a>
                </li>

                <li {% if section == "cars" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:carList' %}">Cars</a>
                </li>

                <li {% if section == "employees" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:employee_list' %}">Employees</a>
                </li>

                <li {% if section == "invoices" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:invoice_list' %}">Invoices</a>
                </li>

                <li {% if section == "orders" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:order_list' %}">Orders</a>
                </li>

                <li {% if section == "payments" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:payment_list' %}">Payments</a>
                </li>

                <li {% if section == "plates" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:plate_list' %}">Registration Plates</a>
                </li>

                <li {% if section == "testdrives" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:testdrive_list' %}">Test Drives</a>
                </li>

                 <li {% if section == "reservations" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:reservation_list' %}">Reservations</a>
                </li>


                 <li {% if section == "repairs" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:repair_list' %}">Repairs</a>
                </li>


                 <li {% if section == "equipments" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:equipment_list' %}">Equipments</a>
                </li>
            {% endblock %}
            </ul>
        </div>


        <div id="middle">
            {% block middle %}
            <h2></h2>
            {% endblock %}
        </div>

        <div id="right">
            {% block right %}
            <h2></h2>

            {% endblock %}
        </div>



    </div>
</body>
</html>