{% extends "shop/base.html" %}
{% load staticfiles %}
{% block title %}Cars{% endblock %}

{% block middle %}

        <h2>Avaliable Cars</h2>
        <ul>
            {% for car in cars %}
            <li><a href="/car/{{ car.vin }}/">{{ car.make }}&nbsp{{car.model}}&nbsp{{car.production_year}}</a></li>
            {% endfor %}
        </ul>

        {% for name, value in stats.items %}
        <label>{{name}}&nbsp{{value}}[USD]</label>
        {% endfor %}


        {% block right %}
        {% endblock %}


{% endblock %}
