{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">


    <style type="text/css">
    * {margin: 0; padding: 1px;}
    #container {height: 100%; width:100%; font-size: 0;}
    #left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;  padding: 15px}
    #left {width: 15%; height: 800px !important; background: Gainsboro;}
    #middle {width: 15%; height: 800px !important; background: FloralWhite ;}
    #right {width: 70%; }
    #li {margin-right: 5px;}
                {% block css %}
                {% endblock %}

    </style>

    <script type="text/javascript">
        function search(){
        var x = document.getElementById("fullTextSearch").value;
        window.location.href = "/search" += x;
        window.location.reload(true);
        }

        function Redirect() {
           window.location="http://www.tutorialspoint.com";
            }
      </script>

</head>
<body>
    <div id="container">
        <div id="left">
            {% block left %}
            <ul class="menu">

                <li {% if section == "dashboard" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:dashboard' %}">My dashboard</a>
                </li>

                <li {% if section == "clients" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:client_list' %}">Clients</a>
                </li>

                <li {% if section == "cars" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:carList' %}">Cars</a>
                </li>

                <li {% if section == "employees" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:employee_list' %}">Employees</a>
                </li>

                <li {% if section == "orders" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:order_list' %}">Orders</a>
                </li>

                <li>
                    <form method="POST" action="/search/">
                    {% csrf_token %}
                    <input type="text" name="textfield" size="15">

                    <button type="submit">Search</button>
                    </form>


                </li>

                <li {% if section == "admin" %} class="selected" {% endif %}>
                <a href="{% url 'main_app:admin' %}">Admin</a>
                </li>


            {% endblock %}
            </ul>
        </div>


        <div id="middle">
            {% block middle %}
            <h2></h2>
            {% endblock %}
        </div>

        <div id="right">
            {% block right %}
            <h2></h2>

            {% endblock %}
        </div>



    </div>
</body>
</html>