{% extends "shop/base_employees.html" %}
{% load staticfiles %}
{% block title %}{{employee.0}}{% endblock %}

{% block middle %}
        <h2>Our employees</h2>
        <ul>
            {% for employee in employees %}
            <li><a href="/employee/{{ employee.employee_id }}/">{{ employee.name }} {{employee.surname}}</a></li>
            {% endfor %}
        </ul>
{% endblock %}

{% block css %}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

{% endblock %}

{% block right %}

    <h2>Employee Details:</h2>

    <table>
        {% for name, value in employee.items %}
            <tr>
                <td>{{ name }} </td>
                <td> {{ value }}</td>
            </tr>
        {% endfor %}
    </table>


    <h2>Employee address:</h2>
    {% if address %}
    <table>
        {% for name, value in address.items %}
            <tr>
                <td>{{ name }} </td>
                <td> {{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h3>Address not set</h3>
    {% endif %}
{% endblock %}